/* LAYOUT CSS */
p {
  color: #333 !important;
  font-size: 20px !important;
  line-height: 1.2 !important;
}

ol {
	  color: #333 !important;  
  }

.cover {
  background-color: $background-color;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
  
}

@media screen and (min-width: $medium-screen) {
    .cover-card {
      padding-left: 00px !important;
    }
}

@media screen and (min-width: $large-screen){
  .cover-card {
    padding-left: 0px !important;
  }
}

@media screen and (min-width: $larger-screen){
  .cover-card {
    padding-left: 0px !important;
  }
}

@media screen and (min-width: $xl-screen){
  .cover-card {
    padding-left:100px !important;
  }
  p {
	  font-size: 16px !important;
  }
  .post-content {
    font-size: 15px !important;
  }

  ol {
	  font-size: 16px !important;
	  color: #333 !important;  
  }
}

.cover-card {
  color: $text-color;
  padding: 0 30px;
  // padding-left: 100px !important;
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: none;
  }
  .author_name {
    display: block;
    color: $primary;
    font-size: 1.9em;
  }
  .author_job {
    display: block;
    color: $secondary;
    font-size: 50%;
    font-weight: 500;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
  .author_bio {
    font-size: 65%;
    display: block;
    color: black;
  }
  @include media-query($medium-screen) {
    text-align: left;
    margin: 0 auto;
    
    padding: 0 0px 80px;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 5px;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: lighten($secondary, 14%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px !important;
  font-weight: bold;
  .nav-item {
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:0px;
    display: list-item;
    *display: list-item;
    zoom: 1;
    & a {
      margin-top: 5em;
      text-transform: lowercase;
      font-size: 90%;
      color: darken($secondary, 30%);
      &:hover,
      &:focus {
        color: lighten($secondary, 14%);
      }
    }
    &:hover {
      background-color: #f7f7f7;
    }
  }
}

.nav{
  padding-top:5px;
}

hr {
  margin: 0 !important;
}

img + em { display: block; text-align: center; font-size: 15px;}

.archive ul {
  padding-left: 0px !important;
}

.post-meta {
  margin-left: 0px !important;
  font-weight: lighter !important;
  padding-top:0px !important;
}

.archive #timeline::before {
  left: -5px !important;
}
