@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic,900,900italic);

@font-face{
	font-family: 'gotham';
	src: url('/assets/fonts/GothamHTF-Book.otf');
}

@font-face {
font-family: 'archerpro';
src: url('/assets/fonts/ArcherPro-Bold.otf');  
}

@font-face {
font-family: 'archerprolight';
src: url('/assets/fonts/ArcherPro-Light.otf');  
}


@font-face {
font-family: 'archerprobookitalic';
src: url('/assets/fonts/ArcherPro-BookIta.otf');  
}

@font-face {
font-family: 'sofiaprolight';
src: url('/assets/fonts/SofiaPro/SofiaProLight.otf');  
}

@font-face {
font-family: 'proximanovalight';
src: url('/assets/fonts/proximanova/proximanovaregular.otf');  
}


#archivetitle{
	font-family: "Merriweather";
}

.pages{
	text-align: center;
	margin-left: -38px;
	font-family: 'archerprolight';
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.col-sm-6 {
          width: 50%;
            left: 25%;

}

.list-inline {
          padding-left: 0;
            list-style: none;
            display:none;

}

.imgcenter{
        text-align:center;
}

pre {
border: 0px;
color:#fff;
background-color:#fff;
padding:0px;
}

code {
font-family: "monospace";
font-size: 12px !important;
}

a {
	color: #fff;
}

a:visited {
	color: #fff;
}

a:hover{
	color:#00ccd6;
	text-decoration: none;
}

.pages ul, li{
	list-style: none;
	line-height: 40px;

}

.pages {

        font-family: 'archerprolight';
}

.home ul, li{
        list-style:inherit;
        color: black;
}

.pages li li{
list-style: none;
	line-height: 30px;
	font-size: 14px;

}

#subitem {
	display:none;

}

body{
	color: #2c3e50;
	font-family: "Merriweather";
	font-size: 15px;
}

p{
	font-family: "Merriweather";
	line-height: 1.9em !important;
	color: black;
}
.sidebar {
	text-align:center;
	position: fixed;
	top: 0px;
	padding-top: 10%;
	background-color: #333333;
	color: #fff;
}

.sidebar-header {

	text-align: center;
	margin-bottom: 10px;
	margin-top:-90px;
}
.sidebar-header .title{
	text-align: center;
	letter-spacing: 1px;
	font-family: 'archerpro';
}

.sidebar-header .title a{
	text-decoration: none;
	color: #00ccd6;
        font-weight:100 !important;
}

a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
	font-family: "archerprobookitalic", Courier, monospace;
	font-size: 16px;
	margin-top:-8px !important;
	margin: 0 auto;
	color:#cdcdcd;
	margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
  color:#2c3e50;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #333333;
}
article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

#contact-list-secondary {
	padding-bottom: 10px;
}

.page-header {
	color: #333333;
        margin-left:20px;
        text-align:center;
	
}

article{
	margin-bottom: 40px;
        text-align: justify;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
        margin-left:-15px;

}


.article_body a{
	color:#428bca;
}

.article_body a:visited{
	color:#428bca;
}

.article_body a:hover{
	color:#2c3e50;
}

.list-inline a{
	color:#428bca;
}

.list-inline a:visited{
	color:#428bca;
}

.list-inline a:hover{
	color:#2c3e50;
}

.nav-tabs-vertical a{
	color:#428bca;
}

.nav-tabs-vertical a:visited{
	color:#428bca;	
}

.nav-tabs-vertical a:hover{
	color:#2c3e50;	
}

.MathJax {
font-size:40px !important;
}

#math {

	color:black;
	text-align: center;

}

.post-date {
	color:#2c3e50;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: archerprolight;
}

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: "Lora", sans-serif; 
margin-bottom: 20px;
font-weight:900;
}
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
	font-family: "Lora", sans-serif;
        text-align:left;
        font-weight: 900;
	color: #333333;
        text-align:center;
}

article_body h1, h2, h3, h4{
        text-align:center;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: #333333;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: #41d4cf;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Open Sans';
        text-align: center;
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #333333; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

@media (min-width: 768px){
.col-sm-9 {
width:710px !important;
margin-left: 28% !important;
}
}

@media (min-width: 768px){
.col-sm-10 {
	width:100%;
	}
}

.pager .next>a{
	color:black;
}

.pager .previous>a{
	color:black;
}


