---
layout: blog
---

<ul>
  {% for post in paginator.posts %}
    <li>
	<h1>
      <a href="{{ post.url }}">
	
	<div style="line-height:35px;color:#444;">{{ post.title }}</div>
	
	</a>
	</h1>
	<div style="margin-top:-15px;color:#E11F00;">{{ post.date | date: "%-d %B %Y" }}</div>
        &nbsp;
      <p>{{ post.content }}</p>
    </li>
    <hr/>
    &nbsp;
  {% endfor %}
  &nbsp;
  &nbsp;
  &nbsp;
        <div style="width:95%;display:block-inline;font-size:20px; margin-left:12px;">
                {% if paginator.previous_page %}

                <div style="font-family:'proregular';float:left;"><a href="{{ paginator.previous_page_path }}"> Recent Posts </a></div>
                {% endif %}
                {% if paginator.next_page %}

                <div style="font-family:'proregular';float:right;"><a href="{{ paginator.next_page_path }}">Older Posts -></a></div>
                {% endif %}


        </div>
</ul>
