
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/designTemplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<style type="text/css">
  .centeredImage
    {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }
</style>

<meta name="keywords" content="">

<meta name="description" content="">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Rodrigo Araújo ::: Software Engineer / Computer Scientist</title>


<!-- InstanceEndEditable -->

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="../css/stylesheet.css" rel="stylesheet" type="text/css" /><!--[if IE]>

<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.twoColHybRtHdr #sidebar1 { padding-top: 30px; }
.twoColHybRtHdr #mainContent { zoom: 1; padding-top: 15px; }
/* the above proprietary zoom property gives IE the hasLayout it may need to avoid several bugs */
</style>
<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body class="twoColHybRtHdr">
        <div class="sidebar" style="height:100%;">
  <div id="header" style='margin-top:25px; margin-left:18px;'>
    
      <tr>
        <h1><a href="../index.html">Rodrigo Araújo</a></h1>
      </tr>
        <h4>Software Engineer & Computer Scientist</h4>

    
    <tr>
    </tr>
    <tr>
      <h3 style="padding-top:10px; margin-left:11px;">
        <!--<a href="./HomePage.html"><img src="./images/back.png" width="15"></a>
              <tr>
        <td>&nbsp;</td>
      </tr><-->

        <a href="/blog/" onclick="">BLOG    &nbsp;&nbsp;</a> 
        <a href="/about/">ABOUT    &nbsp;&nbsp;</a>
        <a href="/work/">WORK    &nbsp;&nbsp;</a>
        <a href="/contact/">CONTACT    &nbsp;&nbsp;</a>
      </h3>
    </tr>
    
    <!-- end #header -->
  </div>

<div id="container" style="width:0px;"><!-- InstanceBeginEditable name="headerNav" -->


  <div style="margin-left:230px;margin-top:-193px;" id="mainContent" class="hidden">
    
    {{ content }}
        
  </div>


<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="subNav" --><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="mainContent" --><!-- InstanceEndEditable -->
  <!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats -->
  <br class="clearfloat" />
  <!-- InstanceBeginEditable name="footer" -->
  <div id="footer">
    <!-- end #footer -->
    </div>
  <!-- InstanceEndEditable -->
  <!-- end #container --></div>
    
</div>
</body>

<script>
$(document).ready(function(){
    // to fade in on page load
   $("#mainContent").fadeIn(1500).removeClass("hidden");
   $('a').click(function(e){
        redirect = $(this).attr('href');
        e.preventDefault();
        $('#mainContent').fadeOut(500, function(){
            document.location.href = redirect
        });
    });
})

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38327934-3', 'auto');
  ga('send', 'pageview');

</script>
<!-- InstanceEnd --></html>
