---
layout: default
---

  <div id="page">
    

    <article class="page-content">
      {{ content }}
    </article>


  </div><!-- end page content -->


  {% if site.owner.disqus-shortname and page.comments == true %}
  <div id="disqus_thread"></div>
  {% include disqus.html %}
  {% endif %}
<script>
 $(function() {
    var $sidebar   = $("#sidebar"),
        $window    = $(window),
        offset     = $sidebar.offset(),
        topPadding = 0;

    $window.scroll(function() {
        if ($window.scrollTop() > offset.top) {
            $("#sidebar").css("margin-top", $window.scrollTop() - offset.top + topPadding);
        } else {
            $sidebar.stop().animate({
                marginTop: 0
            });
        }
    });
});
