<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row">

    <div class="col xs12 s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col xs12 s12 m9">
      <div class="post-listing">
        <div class="post-content">
          <h1 style="max-width: 45%;">{{page.title}}</h1>


          <div style="width:100%;" class="container">
            <div class="row post-meta">
              <div class="col m6">
                <p style="float:left;max-width: 100%; font-size: 14px;"> <i class="far fa-calendar"
                    style="padding-right:5px;"></i> {{ page.date | date: '%B %d, %Y' }}</p>
              </div>
              <div class="col m6">
                <p style="float:right;max-width: 100%; font-size: 14px; padding-right:5%;"><i class="far fa-hourglass"
                    style="padding-right:5px;"></i> {% include read_time.html %}</p>
              </div>
            </div>
            <!-- <div class="row post-meta">
              <div class="col m6">
                <p style="float:left;max-width: 100%; font-size: 14px;"><i class="fas fa-tags"
                    style="padding-right:5px;"></i> {{ page.tags | join: ", "}}</p>
              </div>
              <div class="col m6">
                <p style="float:right;max-width: 100%; font-size: 14px;"><i class="far fa-folder"
                    style="padding-right:5px;"></i> {{ page.categories }}</p>
              </div>
            </div> -->
          </div>

          <hr>
          {{ content }}
          {% include footer.html %}
        </div>
      </div>
    </div>
  </div>
  {% include js.html %}
</body>

</html>